.container {
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
}

.content {
  padding: 10px;
}

.content h2 {
  text-align: center;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}
