<div class="container">
  <div class="column left">
    <div class="section">
      <h2>Projects</h2>
      <div class="scrollable">
        <ul>
          <li
            *ngFor="let project of projects"
            (click)="showProjectDetails(project)"
          >
            <p><strong>Project Name:</strong> {{ project.projectName }}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section">
      <h2>Managers</h2>
      <div class="scrollable">
        <ul>
          <li
            *ngFor="let manager of managersList"
            (click)="showManagerDetails(manager)"
          >
            <p><strong>Username:</strong> {{ manager.username }}</p>
            <p><strong>Email:</strong> {{ manager.email }}</p>
            <p><strong>Role:</strong> {{ manager.role }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="column right">
    <div class="details" *ngIf="selectedProject">
      <h2>Project Details</h2>
      <p><strong>Project Name:</strong> {{ selectedProject.projectName }}</p>
      <p><strong>Description:</strong> {{ selectedProject.description }}</p>
      <p><strong>Start Date:</strong> {{ selectedProject.startDate }}</p>
      <p><strong>End Date:</strong> {{ selectedProject.endDate }}</p>
      <div class="details" *ngIf="selectedProjectsManager">
        <h3>Manager Details</h3>
        <p><strong>Name:</strong> {{ selectedProjectsManager.username }}</p>
        <p><strong>Email:</strong> {{ selectedProjectsManager.email }}</p>
      </div>
    </div>
    <div class="details" *ngIf="selectedUser">
      <h2>Manager Details</h2>
      <p><strong>Username:</strong> {{ selectedUser.username }}</p>
      <p><strong>Email:</strong> {{ selectedUser.email }}</p>
      <p><strong>Role:</strong> {{ selectedUser.role }}</p>
      <div class="details" *ngIf="selectedUsersProject">
        <h3>Projects Assigned</h3>
        <ul>
          <li *ngFor="let project of selectedUsersProject">
            <p><strong>Project Name:</strong> {{ project.projectName }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
