<div class="calendar">
  <div class="calendar-header">
    <button class="nav-button" (click)="prevMonth()">Prev</button>
    <div class="month-year">{{ month }} {{ year }}</div>
    <button class="nav-button" (click)="nextMonth()">Next</button>
  </div>
  <div class="calendar-body">
    <div class="calendar-week">
      <div class="weekdays" *ngFor="let day of days">{{ day }}</div>
    </div>
    <div class="calendar-week" *ngFor="let week of calendar">
      <div
        *ngFor="let date of week"
        (click)="selectDate(date.day)"
        [ngClass]="{
          'has-event': date.hasEvent,
          weekday: isWeekday(date),
          weekend: isWeekend(date),
          event: date.hasEvent,
          empty: date.day === 0
        }"
        title="{{ date.eventTitles }}"
      >
        <div
          class="date-title"
          [ngStyle]="{
            'background-image':
              date.day !== 0
                ? 'url(data:image/svg+xml;base64,' +
                  generateDateImage(date.day) +
                  ')'
                : ''
          }"
        >
          <span *ngFor="let title of date.eventTitles">{{ title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
