.calendar {
  margin-top: 0;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #0056b3;
}

.month-year {
  font-size: 24px;
  font-weight: bold;
}

.calendar-body {
  display: flex;
  flex-direction: column;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
}

.weekdays {
  background: #ffeb3b;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  margin: 2px;
  font-weight: bold;
}

.calendar-week div {
  width: 90px;
  height: 50px;
  text-align: center;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  margin: 2px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-week div:hover {
  transform: scale(1.1);
}

.date-title {
  /* restrict word to 4 to 5  */
  font-weight: bold;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.empty {
  background-color: #f0f0f0;
}

.weekday {
  background-color: #e0f7fa;
}

.weekend {
  background-color: #ebb09b;
}

.has-event {
  background-color: #ffeb3b;
  /* border: 1px solid #ffc107; */
}

.event {
  background-color: #06923c;
  color: white;
}
