/* app-navbar.component.css */
.navbar {
  margin-left: 10px;
  /* margin-top: 0; */
  width: 100%;
  display: flex;
  position: fixed;
  align-items: left;
  background-color: aqua;
  border-radius: 8px;
  border: bold 2px #111;
  box-sizing: border-box;
}

.search-wrapper {
  display: flex;
  justify-content: left;
}
.search-input {
  flex-grow: 1;
  /* margin-left: 20px; */
  width: 600px;
}

.search-input i {
  margin-top: 5px;
}

.notification-icon {
  margin-left: 20px;
  margin-right: 25px;
  font-size: 24px;
}
