<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.jpg" alt="Logo" class="logo" />
    <div class="tabs">
      <a
        class="tab user"
        routerLink="/user"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >User</a
      >
      <a
        class="tab project"
        routerLink="/project"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Project</a
      >
      <a
        class="tab task"
        routerLink="/task"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Task</a
      >
    </div>
  </div>
  <div class="navbar-right">
    <a href="#" class="notification-icon">
      <i class="fa fa-bell"></i>
    </a>
  </div>
</nav>
