<div class="container">
  <div class="header">
    <div class="logo">Task Manager</div>
    <div class="tabs">
      <ul>
        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
        <li>
          <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </div>
    <div class="profile">
      <a routerLink="/profile">Profile</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
