html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidepanel {
  position: fixed;
  top: 5px;
  left: 0;
  width: 200px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.main-content {
  margin-top: 60px;
  margin-left: 5px;
  padding: 20px;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f8f9fa;
}
/* .main-content {
  margin-left: 240px; 
} */
