.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b93bb; /* Green background color */
  color: white; /* White text color */
  font-family: Arial, sans-serif; /* Use Arial font */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

.logo {
  font-size: 24px;
}

.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs ul li {
  display: inline;
  margin-right: 20px;
}

.tabs ul li:last-child {
  margin-right: 0;
}

.tabs ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s; /* Smooth color transition */
}

.tabs ul li a:hover {
  color: #1f1f1d; /* Change color on hover */
  font-size: larger;
}

.profile a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for background and border color */
}

.profile a:hover {
  background-color: white;
  color: #4caf50;
  font-size: larger;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs {
    margin-top: 10px;
  }

  .tabs ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
