/* Sidebar styles */
.side-panel {
  margin-top: 60px;
  width: 200px;
  height: 86vh;
  background: linear-gradient(180deg, #f8f9fa, #e9ecef);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e1e4e8;
  display: flex;
  flex-direction: column;
  padding: 10px;

  position: fixed;
}

.tabs {
  flex: 1;
  margin-bottom: 20px;
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.tab i {
  margin-right: 8px;
}

.tab:hover {
  font-weight: bold;
  color: #fcfdfd;
  background-color: #07121d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e1e4e8;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.profile:hover {
  background-color: #f1f3f5;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #007bff;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-weight: bold;
  color: #343a40;
}

.profile-position {
  color: #6c757d;
}

.toggle-button {
  padding: 10px 15px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  align-self: center;
}

.toggle-button:hover {
  background: linear-gradient(90deg, #0056b3, #003d7a);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .side-panel {
    width: 200px;
  }

  .profile-image {
    width: 40px;
    height: 40px;
  }

  .navbar {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}
.tab.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
