<div class="project-container">
  <!-- Project Overview -->
  <div *ngIf="!selectedProject" class="main-content">
    <div class="project-overview">
      <h2>Projects</h2>
      <div class="project-list">
        <div
          *ngFor="let project of projects"
          class="project-card"
          (click)="selectProject(project)"
        >
          <h3>{{ project.projectName }}</h3>
          <p>Description: {{ project.description }}</p>
          <p>Start Date: {{ project.startDate }}</p>
          <p>End Date: {{ project.endDate }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Project Details -->
  <div *ngIf="selectedProject" class="project-details-container">
    <div class="project-details">
      <h2>Project Details: {{ selectedProject?.projectName }}</h2>
      <button (click)="deselectProject()">Back to Projects</button>
      <div class="project-info">
        <p><strong>Description:</strong> {{ selectedProject?.description }}</p>
        <p><strong>Start Date:</strong> {{ selectedProject?.startDate }}</p>
        <p><strong>End Date:</strong> {{ selectedProject?.endDate }}</p>
      </div>
    </div>

    <div class="tasks-users-section">
      <!-- Task List -->
      <div class="tasks-section">
        <h3>Tasks</h3>
        <div class="filter-section">
          <label for="priority-filter">Priority:</label>
          <select
            id="priority-filter"
            [(ngModel)]="selectedPriority"
            (change)="filterTasks()"
          >
            <option value="">All</option>
            <option *ngFor="let priority of taskPriorities" [value]="priority">
              {{ priority }}
            </option>
          </select>

          <label for="status-filter">Status:</label>
          <select
            id="status-filter"
            [(ngModel)]="selectedStatus"
            (change)="filterTasks()"
          >
            <option value="">All</option>
            <option *ngFor="let status of taskStatuses" [value]="status">
              {{ status }}
            </option>
          </select>

          <label for="task-sort">Sort By:</label>
          <select id="task-sort" #taskSort>
            <!-- </select>(change)="sortTasks(taskSort.value)"> -->
            <option value="priority">Priority</option>
            <option value="status">Status</option>
          </select>
        </div>
        <div *ngFor="let task of filteredTasks" class="task-card">
          <h4>Task: {{ task.taskName }}</h4>
          <p><strong>Description:</strong> {{ task.description }}</p>
          <p><strong>Status:</strong> {{ task.status }}</p>
          <p><strong>Priority:</strong> {{ task.priority }}</p>
        </div>
      </div>

      <!-- Employee List -->
      <div class="employees-section">
        <h3>Team Members</h3>
        <div class="filter-section">
          <label for="user-filter">Filter By:</label>
          <select
            id="user-filter"
            [(ngModel)]="selectedUserFilter"
            (change)="filterUsers()"
          >
            <option value="userId">User ID</option>
            <option value="username">Name</option>
            <option value="role">Role</option>
          </select>
          <input
            type="text"
            [(ngModel)]="userFilterValue"
            (input)="filterUsers()"
            placeholder="Enter value"
          />

          <label for="user-sort">Sort By:</label>
          <select id="task-sort" #taskSort>
            <!-- </select> (change)="sortTasks(taskSort.value)" -->
            <option value="userId">User ID</option>
            <option value="username">Name</option>
            <option value="role">Role</option>
          </select>
        </div>
        <div *ngFor="let employee of filteredUsers" class="employee-card">
          <img
            src="/src/assets/profile.jpg"
            alt="Profile Image"
            class="employee-image"
          />
          <div class="employee-info">
            <p><strong>Name:</strong> {{ employee.username }}</p>
            <p><strong>Role:</strong> {{ employee.role }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
