/* app-dashboard.component.css */
.dashboard {
  margin-left: 240px;
  margin-top: 20px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quick-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quick-actions button:hover {
  background-color: #0056b3;
}

.overview-cards {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-list {
  background-color: #ffffff;
  margin: 20px 0;
  border-radius: 8px;
  border: 2px solid #111;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
}

.project-card {
  background-color: #f8f9fa;
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card h3,
.project-card p {
  margin: 5px 0;
}

.project-progress,
.activity-feed,
.calendar,
.statistics-charts {
  margin: 20px 0;
}

.project-progress {
  margin: 20px 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  height: 24px; /* Add height for the progress bar */
}

.progress {
  background-color: #4caf50;
  color: white;
  padding: 5px; /* Adjust padding */
  border-radius: 8px 0 0 8px; /* Adjust border-radius */
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Ensure progress bar fills the container height */
  line-height: 24px; /* Vertically center the text */
}

.activity-feed ul {
  list-style-type: none;
  padding: 0;
}

.activity-feed li {
  background-color: #f8f9fa;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-placeholder,
.statistics-placeholder {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
